[submodule "thirdparty/foleys_gui_magic"]
	path = thirdparty/foleys_gui_magic
	url = https://github.com/ffAudio/foleys_gui_magic.git
[submodule "thirdparty/JUCE"]
	path = thirdparty/JUCE
	url = https://github.com/juce-framework/JUCE.git

